/*DISEÑO GENERAL DE LA PÁGINA MASTER*/

.master-page {
    display: flex;
    height: 100vh;
}

/* distribuir la página de manera 20/80*/
.master-left {
    flex: 2;
}

.master-right {
    flex: 8;
}

.master-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.master-right {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 35;
    background-color: var(--color-white);
    color: var(--color-light);
    font-family: var(--font-sedan-sc);
}

.master-header {
    width: 100%;
    display: flex;
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 20px;
    font-family: var(--font-sedan-sc);
    color: var(--color-dark);
    align-items: center;
}

.master-header h1::first-letter {
    font-size: 35px;
}

.master-header h1 {
    margin-right: 480px;
    color: var(--color-secondary);
    font-size: 25px;
}

.master-header a {
    padding: 5px;
    border-radius: 10px;
}

.master-header a:hover {
    background-color: var(--color-purplelight);
}

.master-right-content h2 {
    color: var(--color-secondary);
    font-size: 21px;
    margin-bottom: 20px;
}

.master-right-content h2::first-letter {
    font-size: 30px;
}

.master-right-content p {
    width: 620px;
    font-family: var(--font-sedan);
    font-size: 18px;
    margin-bottom: 30px;
}

.master-empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.master-empty-state p {
    color: var(--color-dark);
    width: 450px;

}

.master-empty-state button {
    width: 450px;
    padding: 18px;
    border-radius: 10px;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.master-empty-state button:hover {
    background-color: var(--color-secondary);
    cursor: pointer;
}

/*DISEÑO DEL FORMULARIO*/
.master-creature-form h1 {
    color: var(--color-secondary);
    font-size: 27px;
    margin-bottom: 20px;
    text-align: center;
}

.master-creature-form .form-group label {
    color: var(--color-primary);
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 550px;
}

.master-creature-form button {
    width: 230px;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    margin-left: 400px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;

}

.master-creature-form button:hover {
    background-color: var(--color-secondary);
}


.master-creature-form .form-group input,
select {
    background-color: var(--color-gray);
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    font-family: var(--font-sedan);
}

.trained-question {
    display: flex;
    width: 500px;
    color: var(--color-primary);
}

.trained-options {
    display: flex;
    color: var(--color-dark);
    gap: 200px;
    padding: 15px;
    font-size: 18px;
}

.trained-options input[type="radio"] {
    width: 15px;
    height: 15px;
    border: 2px solid var(--color-primary);
    margin-right: 8px;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
}