/*DISEÑO GENERAL DE LA PÁGINA LOGIN*/

.login-page {

    display: flex;
    height: 100vh;
}

/* esto es para que la distribución sea 60/40*/
.login-left {
    flex: 6;
}

.login-right {
    flex: 4;
}

.login-left img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-right {

    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 35;
    background-color: var(--color-white);
    color: var(--color-light);
    font-family: var(--font-sedan-sc);
}

.login-right-content {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    /* asegura que el padding no rompa el ancho */
}

.login-right h1::first-letter {

    font-size: 30px;
    font-weight: 300;
}

.login-right h1 {

    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 20px;
    color: var(--color-secondary);
    font-family: var(--font-sedan-sc);
    font-weight: 500;
}

.login-right p {

    margin-bottom: 20px;
    font-size: 18px;
    color: var(--color-light);
    font-family: var(--font-sedan);
}

.login-right form {

    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    gap: 20px;
}

.login-right label {
    color: var(--color-primary);
}

.login-right form input {

    margin-top: 10px;
    border-radius: 10px;
    padding: 1rem 2.2rem;
    width: 550px;
    font-family: var(--font-sedan);
    color: var(--color-dark);
    background-color: var(--color-gray);
}

.login-right form button {

    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 18px;
    padding: 20px;
    width: 350px;
    margin-left: 100px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.login-right form button:hover {

    background-color: var(--color-secondary);
}

.login-right-cuenta {
    font-size: 16px;
    font-family: var(--font-sedan);
    width: 400px;
    margin-left: 80px;
}