/*DISEÑO GENERAL DE LA PÁGINA CARETAKER*/

.caretaker-page {
    display: flex;
    height: 100vh;
}

/* distribuir la página de manera 20/80*/
.caretaker-left {
    flex: 2;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.caretaker-right {
    flex: 8;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 35;
    background-color: var(--color-white);
    color: var(--color-light);
    font-family: var(--font-sedan-sc);
}


.caretaker-header {
    width: 100%;
    display: flex;
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 20px;
    font-family: var(--font-sedan-sc);
    color: var(--color-dark);
    align-items: center;

    h1 {
        margin-right: 480px;
        color: var(--color-secondary);
        font-size: 25px;
    }

    a {
        padding: 5px;
        border-radius: 10px;
    }
}

.caretaker-header h1::first-letter {
    font-size: 35px;
}


.caretaker-header a:hover {
    background-color: var(--color-purplelight);
}

.caretaker-right-content {
    h2 {
        color: var(--color-secondary);
        font-size: 21px;
        margin-bottom: 20px;
    }

    p {
        width: 620px;
        font-family: var(--font-sedan);
        font-size: 18px;
        margin-bottom: 30px;
    }
}

.caretaker-right-content h2::first-letter {
    font-size: 30px;
}


.caretaker-empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

    p {
        color: var(--color-dark);
        width: 450px;
    }

    button {
        width: 450px;
        padding: 18px;
        border-radius: 10px;
        background-color: var(--color-primary);
        color: var(--color-white);
    }
}


.caretaker-empty-state button:hover {
    background-color: var(--color-secondary);
    cursor: pointer;
}

/*DISEÑO DEL FORMULARIO*/
.caretaker-creature-form {
    h1 {
        color: var(--color-secondary);
        font-size: 27px;
        margin-bottom: 20px;
        text-align: center;
    }

    .form-group label {
        color: var(--color-primary);
    }

    button {
        width: 230px;
        padding: 15px;
        border-radius: 10px;
        background-color: var(--color-primary);
        color: var(--color-white);
        text-align: center;
        margin-left: 400px;
        margin-top: 20px;
        font-size: 18px;
        cursor: pointer;
    }

    .form-group input,
    select {
        background-color: var(--color-gray);
        width: 500px;
        padding: 15px;
        border-radius: 10px;
        margin-top: 10px;
        font-family: var(--font-sedan);
    }
}



.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 550px;
}


.caretaker-creature-form button:hover {
    background-color: var(--color-secondary);
}


.trained-question {
    display: flex;
    width: 500px;
    color: var(--color-primary);
}

.trained-options {
    display: flex;
    color: var(--color-dark);
    gap: 200px;
    padding: 15px;
    font-size: 18px;
}

.trained-options input[type="radio"] {
    width: 15px;
    height: 15px;
    border: 2px solid var(--color-primary);
    margin-right: 8px;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
}

.caretaker-creature-table {
    .creatures-add-btn button {
        background-color: var(--color-primary);
        color: var(--color-white);
        border-radius: 10px;
        padding: 10px;
        width: 250px;
        height: 55px;
        font-size: 18px;
        margin-bottom: 25px;
        cursor: pointer;
    }
}

.table-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 780px;
    font-family: var(--font-sedan);

    h3 {
        color: var(--color-secondary);
        font-size: 21px;
        margin-bottom: 10px;
    }
}


.filter-options {
    display: flex;
    flex-direction: column;

    button {
        background-color: var(--color-primary);
        color: var(--color-white);
        font-family: var(--font-sedan-sc);
        padding: 15px;
        border-radius: 10px;
        font-size: 20px;
        margin-top: 15px;
        border-color: var(--color-primary);
        cursor: pointer;
    }

    label {
        font-size: 20px;
        color: var(--color-dark);
    }

}

.filter-options input[type="checkbox"] {
    width: 25px;
    height: 25px;
    border: 5px solid var(--color-primary);
    margin-right: 10px;
    cursor: pointer;

}

.table-input-name {
    display: flex;
    flex-direction: column;

    label {
        color: var(--color-primary);
        font-family: var(--font-sedan-sc);

    }

    input {
        background-color: var(--color-gray);
        border-radius: 10px;
        padding: 15px;
        color: var(--color-dark);
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.creatures-table {
    width: 550px;

    thead {
        color: var(--color-primary);
        border-bottom: 1 solid;
        font-size: 18px;
    }

    .table-header th {
        padding: 15px;
        font-weight: 200;
    }

    tbody {
        border-bottom: 1 solid;
    }

    tbody td {
        padding: 15px;
    }

    tbody tr {
        border-bottom: 1 solid;
    }

    .edit-btn {
        cursor: pointer;
        margin-right: 20px;
    }
}

/* DISEÑO DEL PROFILE CARETAKER */

.caretaker-profile-content {
    display: flex;
    flex-direction: column;

    label {
        color: var(--color-primary);
        margin-bottom: 15px;
        margin-top: 10px;
    }

    input {
        background-color: var(--color-gray);
        padding: 20px;
        border-radius: 10px;
        width: 350px;
        font-family: var(--font-sedan);
    }

    input:last-of-type {
        width: 950px;
        height: auto;
    }
}